<!DOCTYPE html>
<html>
	<head>
		<title>Personal Expense Tracker</title>
	</head>
	<body>
		<header>
		<h1>Personal Expense Tracker App</h1>
		<p>
		Track personal income and expenditures so that you can take control of you spending and finances.<br>
		Take advantage of our features and functionality and make your self and wallet happy, with our <br>
		Personal Expense Track App.
		</p>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/help">Help</a></li>
			<li><a href="/sign_in">Sign in</a></li>
		</ul>
		<hr>
		</header>
	</body>
	
</html>